TestClient/TestClient/Connected Services/LogConverterService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://eal-welfaceproject.azurewebsites.net/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://eal-welfaceproject.azurewebsites.net/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://eal-welfaceproject.azurewebsites.net/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_ParseFromFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseFromFile" />
  </wsdl:message>
  <wsdl:message name="IService_ParseFromFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseFromFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParseFromFileCustom_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseFromFileCustom" />
  </wsdl:message>
  <wsdl:message name="IService_ParseFromFileCustom_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseFromFileCustomResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParseFromURI_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseFromURI" />
  </wsdl:message>
  <wsdl:message name="IService_ParseFromURI_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseFromURIResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParseFromURICustom_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseFromURICustom" />
  </wsdl:message>
  <wsdl:message name="IService_ParseFromURICustom_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseFromURICustomResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAlarms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarms" />
  </wsdl:message>
  <wsdl:message name="IService_GetAlarms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="ParseFromFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParseFromFile" message="tns:IService_ParseFromFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParseFromFileResponse" message="tns:IService_ParseFromFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseFromFileCustom">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParseFromFileCustom" message="tns:IService_ParseFromFileCustom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParseFromFileCustomResponse" message="tns:IService_ParseFromFileCustom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseFromURI">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParseFromURI" message="tns:IService_ParseFromURI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParseFromURIResponse" message="tns:IService_ParseFromURI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseFromURICustom">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParseFromURICustom" message="tns:IService_ParseFromURICustom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParseFromURICustomResponse" message="tns:IService_ParseFromURICustom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarms">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAlarms" message="tns:IService_GetAlarms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAlarmsResponse" message="tns:IService_GetAlarms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ParseFromFile">
      <soap:operation soapAction="http://tempuri.org/IService/ParseFromFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseFromFileCustom">
      <soap:operation soapAction="http://tempuri.org/IService/ParseFromFileCustom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseFromURI">
      <soap:operation soapAction="http://tempuri.org/IService/ParseFromURI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseFromURICustom">
      <soap:operation soapAction="http://tempuri.org/IService/ParseFromURICustom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarms">
      <soap:operation soapAction="http://tempuri.org/IService/GetAlarms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ParseFromFile">
      <soap:operation soapAction="http://tempuri.org/IService/ParseFromFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseFromFileCustom">
      <soap:operation soapAction="http://tempuri.org/IService/ParseFromFileCustom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseFromURI">
      <soap:operation soapAction="http://tempuri.org/IService/ParseFromURI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseFromURICustom">
      <soap:operation soapAction="http://tempuri.org/IService/ParseFromURICustom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarms">
      <soap:operation soapAction="http://tempuri.org/IService/GetAlarms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://eal-welfaceproject.azurewebsites.net/Service.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService" binding="tns:BasicHttpsBinding_IService">
      <soap:address location="https://eal-welfaceproject.azurewebsites.net/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>